{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags static %}

{% block extra_js %}

<script src="{% static 'node_modules/@glidejs/glide/dist/glide.min.js' %}"></script>
<script>
    var glideHero = new Glide(".glide", {
      type: "carousel",
      animationDuration: 2000,
      autoplay: 2000,
      startAt: 1,
      perView: 3,
    });
  
    glideHero.mount();
</script>

{% endblock extra_js %}

{% block body_class %}
{% endblock %}

{% block content %}
<header class="masthead text-center text-white" style="background-image: url('/static/images/event-bg.jpg');">
    <div class="masthead-content">
    <h1 class="masthead-subheading mb-0">{{ page.title }}</h1>
    </div>
</header>
<section id="scroll">
    <div class="container px-5">
        <div class="align-items-center">
                <div class="p-5 text-center">
                    <h2 class="display-4">Sobre el evento</h2>
                    <p>{{ page.concepto|richtext }}</p>
                </div>
        </div>
    </div>
</section>

<section>
    <div class="container px-5">
        <div class="p-5 text-center">
            <h2 class="display-4">Artistas</h2>
            <p>{{ page.artistas|richtext }}</p>
        </div>
    </div>
    <div class="d-flex justify-content-center">
        <div class="glide">
            <div class="glide__track" data-glide-el="track">
                <ul class="glide__slides">
                    {% for item in page.artistas_imgs.all %}
                    <li class="glide__slide">
                        <div class="container mx-auto mx-2 text-center">
                            <div class="container-fluid">
                                {% image item.image width-200 draggable="false" class="img-fluid rounded-circle" %}
                            </div>
                            <p>{{ item.caption }}</p>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</section>

<section id="scroll">
    <div class="container px-5">
        <div class="align-items-center">
            <div class="p-5 text-center">
                <h2 class="display-4">Información</h2>
                <div class="mx-auto">
                {{ page.event_info|richtext }}
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}
